.choice {
    cursor: pointer;
    margin: 20px;
    text-align: center;
}

.choice:hover {
    opacity: 0.5;
}

.output {
    resize: none;
    width: 100%;
    height: 15rem;
}

.selected {
    background-color: brown;
}